<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login</title>
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/foo.jpg);
            background-size: cover;
            height: 100vh;
            background-position: center;
        }

        .login-page {
            width: 360px;
            padding: 10% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: rgba(57, 255, 20, 0.6);
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
        }

        .form input {
            font-family: sans-serif;
            outline: 1;
            background: whitesmoke;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: sans-serif;
            outline: 0;
            background: burlywood;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            cursor: pointer;
        }

        .form button:hover,
        .form button:active {
            background: brown;
        }

        .form .message {
            margin: 15px;
            font-size: 12px;
            color: rgb(17, 8, 102);
        }

        .form .message a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <% if (message.length > 0) { %>
            <%= message %>
            <% } %>
            <form action="/" method="POST">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Login</button>
                <p class="message">Not a member? <a href="/register">Register</a></p>
            </form>

            <script src="https://code.jquery.com/jquery-3.4.1.min.js
            "></script>

        </div>
    </div>
  
</body>

</html>